body {
  text-align: center;
  background: #111;
  color: white;
  font-family: Arial;
}

.camera-container {
  position: relative;
  display: inline-block;
}

video {
  width: 95%;
  max-width: 400px;
  border-radius: 10px;
}

#overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

#arrow {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 35px;
  color: red;
}

#viewer {
  width: 100%;
  height: 400px;
  margin-top: 15px;
}