body {
    margin: 0;
    font-family: Arial;
    background: #111;
    color: white;
    text-align: center;
}

h2 {
    margin: 10px;
}

video {
    width: 90%;
    max-width: 400px;
    border-radius: 10px;
    margin-top: 10px;
}

canvas {
    display: none;
}

.info {
    margin: 10px;
    font-size: 18px;
}

button {
    padding: 12px 18px;
    border: none;
    border-radius: 8px;
    background: #00c853;
    color: white;
    font-size: 16px;
    margin: 10px;
}

button:active {
    background: #009624;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.gallery img {
    width: 100px;
    height: 80px;
    margin: 5px;
    border-radius: 6px;
    object-fit: cover;
}